<!DOCTYPE html>
<html>

<head>
  <title>Data - College Magnifier</title>
  <link type="text/css" rel="stylesheet" href="lib/materialize/materialize.min.css" />
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <link type="text/css" rel="stylesheet" href="css/data.css" />
</head>

<body>
  <nav class = "blue-grey darken-3">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo ">College Magnifier</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Visualization</a></li>
        <li class="active"><a href="/data">Data</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav>

  <div id="app" class="content row">
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr v-for="item in items">
            <td v-for="item in items">Alvin</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>

  <footer class="page-footer blue-grey darken-3">
    <div class="footer-copyright">
      <div class="container">
        &copy; 2017 - Hanfei Lin - Zhuo Li - Han Yin - CS519 - UIUC
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="lib/vue/vue.min.js"></script>
  <script type="text/javascript" src="lib/jquery/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="lib/materialize/materialize.min.js"></script>

  <script type="text/javascript" src="js/data.js"></script>

</body>
