body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav .nav-wrapper {
  margin: 0 30px;
}

body .content {
  margin: 15px 15px;
}

footer.page-footer {
  padding: 0;
  text-align: center;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.index-background{
  background-image: url('../images/background-1.png');
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 60vh;
  margin-top: 3px;
  padding-bottom: 0px;
  z-index: -100;
}

.blur {
    -moz-filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
    -o-filter: blur(2.5px);
    -ms-filter: blur(2.5px);
    filter: blur(2.5px);
}
